form > input.url {
  font-family: monospace;
  border: 1px solid #ffffff54;
  background-color: #ffffff04;
  width: 170px;
  text-align: center;
  color: white;
}

form > input.url:focus {
  outline: none;
}

form > button.download {
  font-family: monospace;
  border: 1px solid #ffffff54;
  background-color: #ffffff04;
  cursor: pointer;
  color: white;
  text-align: center;
}

form > p.status {
  text-align: center;
  color: white;
  font-family: monospace;
}